<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-title class="headerTitle">Cadastro de atividades</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="title">Adicione suas atividades fisícas</h2>
  <p class="subtitle">Adicione suas atividades abaixo com a quantidade necessária para executar cada uma delas!</p>

  <div class="container">

    <ion-label>Adicione uma atividade</ion-label>
    <ion-input placeholder="Atividade..."></ion-input>

    <ion-button></ion-button>

  </div>
</ion-content>