*{
    font-family: 'Ubuntu';
    background-color: #FDFFFC;
}

.headerTitle{
    color: #1C1D21;
}

.title{
    margin: 24px 16px 0 16px;
    font-size: 24px;
    color: #1C1D21;
}

.subtitle{
    margin: 8px 16px 0 16px;
    color: #72747C;
    font-size: 14px;
}

.container{
    margin: 24px 16px;
}

ion-label{
    font-weight: 500;
}