ion-toolbar {
  --background: #fff;

  --border-style: none;
}

ion-header {
  padding: 12px 24px;

  ion-title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: #2677b1;
    font-weight: 700;
    span {
    color: #777;
    font-weight: 300;
    }
  }
}

.icon{
  color: #1a1c1f;
}

ion-segment-button{
  padding: 3px 0;
  --indicator-color:#2677b1;
  --color-checked: #fff;
  --background-checked: #2677b1;
}
