<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon class="icon" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Clima<span>Tempo</span></ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon class="icon" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment value="today">
    <ion-segment-button value="today">Hoje</ion-segment-button>
    <ion-segment-button value="tomorrow">Amanhã</ion-segment-button>
    <ion-segment-button value="nextDays">15 dias</ion-segment-button>
  </ion-segment>

  <main>
    <div class="localização">
      <img src="https://cdn-icons-png.flaticon.com/512/856/856258.png" alt="" />
      <p>{{results.city}}</p>
    </div>
    <div class="imagem-tempo">
      <img src="./../../assets/climaIcon.png" alt="" />
    </div>
    <div class="minmax">
      <ion-icon name="arrow-up-outline" class="max"></ion-icon>
      <div>{{results.forecast[0].max}}</div>
      <ion-icon name="arrow-down-outline" class="min"></ion-icon>
      <div>{{results.forecast[0].min}}</div>
    </div>
    <div class="temperatura">{{results.temp}}</div>
  </main>

  <div class="info-adicional">
    <div class="info borda-separacao">
      <img
        src="https://cdn-icons-png.flaticon.com/512/1247/1247774.png?w=740&t=st=1660957093~exp=1660957693~hmac=c00a882fba874ec3d94aa71fb0b07bde7daa85929e06e91cf2c3ef5398e76dcd"
        alt=""
      />
      <div class="fw-300">vento</div>
      <div class="fw-500">{{results.wind_speedy}}</div>
    </div>

    <div class="info borda-separacao">
      <img
        src="https://cdn-icons-png.flaticon.com/512/1164/1164899.png?w=740&t=st=1660957182~exp=1660957782~hmac=f915ef3de04e2126cc40f51386de257856a1335b967456d544b172bdf30cbdc7"
        alt=""
      />
      <div class="fw-300">umidade</div>
      <div class="fw-500">{{results.humidity}}</div>
    </div>

    <div class="info">
      <img
        src="https://cdn-icons-png.flaticon.com/512/1247/1247121.png?w=740&t=st=1660957204~exp=1660957804~hmac=91bdc8e1afb2f6b3b2a45d3fa3c71a8dd8347e25ad5205659b6a0833bc5367a2"
        alt=""
      />
      <div class="fw-300">Chuva</div>
      <div class="fw-500">20%</div>
    </div>
  </div>

  <div><h2>Proximas horas</h2></div>

  <div class="proximas-horas">
    <div class="horas">
      <div>12:00</div>
      <img
        src="https://cdn-icons-png.flaticon.com/512/1238/1238153.png?w=740&t=st=1660958717~exp=1660959317~hmac=f6ebb96199c8c051da2fb50c34a53537067fde6482fae88fdcfccf65c18eacc8"
        alt=""
      />
      <div>-5º</div>
    </div>

    <div class="horas">
      <div>12:00</div>
      <img
        src="https://cdn-icons-png.flaticon.com/512/1238/1238153.png?w=740&t=st=1660958717~exp=1660959317~hmac=f6ebb96199c8c051da2fb50c34a53537067fde6482fae88fdcfccf65c18eacc8"
        alt=""
      />
      <div>-5º</div>
    </div>
    
    <div class="horas">
      <div>12:00</div>
      <img
        src="https://cdn-icons-png.flaticon.com/512/1238/1238153.png?w=740&t=st=1660958717~exp=1660959317~hmac=f6ebb96199c8c051da2fb50c34a53537067fde6482fae88fdcfccf65c18eacc8"
        alt=""
      />
      <div>-5º</div>
    </div>

    <div class="horas">
      <div>12:00</div>
      <img
        src="https://cdn-icons-png.flaticon.com/512/1238/1238153.png?w=740&t=st=1660958717~exp=1660959317~hmac=f6ebb96199c8c051da2fb50c34a53537067fde6482fae88fdcfccf65c18eacc8"
        alt=""
      />
      <div>-5º</div>
    </div>
  </div>
</ion-content>
