<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon class="icon" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Clima<span>Tempo</span></ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon class="icon" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment value="today">
    <ion-segment-button value="today">Hoje</ion-segment-button>
    <ion-segment-button value="tomorrow">Amanhã</ion-segment-button>
    <ion-segment-button value="nextDays">15 dias</ion-segment-button>
  </ion-segment>

  <main>
    <div class="localização">
      <img src="https://cdn-icons-png.flaticon.com/512/856/856258.png" alt="" />
      <p>Itapeva-SP</p>
    </div>
    <div class="imagem-tempo">
      <img src="./../../assets/climaIcon.png" alt="" />
    </div>
    <div class="minmax">
      <ion-icon name="arrow-up-outline" class="max"></ion-icon>
      <div>37º</div>
      <ion-icon name="arrow-down-outline" class="min"></ion-icon>
      <div>22º</div>
    </div>
    <div class="temperatura">32º</div>
  </main>
</ion-content>
